.navbar-conteiner {
    width: 100%;
    .navbar-elements {
        display: flex;
        justify-content: space-around;
        align-items: center;   
        .navbar-elements-person{
            display: flex;
            list-style: none;
            gap: 1rem;     
        }
    .navbar-elements-logo{
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
            width: 44px;
        }
    }
    .navbar-elements-panel {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        img{
            width: 30px;
        }
    }
    }
}